{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'menu/menustyle.css' %}">
     <title>Menu du Restaurant</title>
</head>
<body>

<img id="small_logo" src="{% static 'menu/images/small_logo.png' %}">
</br>
<!---------naviguation bar------->
<ul class="horizontal">
    <li><a href="{% url 'menu:index' %}" class="nav active">Pizzas</a></li>
    <li><a href="{% url 'menu:pates' %}" class="horizontal">Pâtes</a></li>
    <li><a href="{% url 'menu:salades' %}" class="horizontal">Salades</a></li>
    <li><a href="#" class="horizontal">Panier</a></li>
</ul>

<!----------contenu--------------->

<div class="menu_title"><h1>Les Salades</h1>
</div>

<div class="menu_list">
    {% for salade in salades %}
        <div class="menu_list_item">
            <span class="menu_list_title">{{salade.nom}}</span>
            <span class="menu_list_prix">{{salade.prix | floatformat:2}} €</span>
            <span class="menu_list_ingredients">{{salade.ingredients}}</span>
            {% if salade.vegetarienne %}

            <span class="vegi">VEGETARIENNE</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="menu_title"><h1>Les Boissons</h1>
</div>
<div class="menu_list">
    {% for boisson in boissons %}
        <div class="menu_list_item">
            <span class="menu_list_title">{{boisson.nom}}</span>
            <span class="menu_list_prix">{{boisson.prix | floatformat:2}} €</span>
        </div>
    {% endfor %}
</div>
</body>
</html>